html, body{
  height: 100%;
}

body{
  background: #1111f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.question-container{
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
  
input {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border: 0;
}

.leftnum {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 0px 0px;
  margin: 5px 20px;
  border: 3px;
  color: #DDDD00;
}

.rightnum {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 10px 20px;
  margin: 5px 0px;
  border: 3px;
  color: #DDDD00;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input {
    font-size : 16px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input:focus {
    font-size : 16px;
  }
}


p.prompt-label{
  font: 20px bolder Arial, sans-serif;
  color: #ffc83d;
  border: none;
}

a {
  font: 20px bolder Arial, sans-serif;
  color: #ffc83d;
}

p.streak-label{
  font: 15px bolder Arial, sans-serif;
  color: #ffc83d;
  border: none;
  align-content: center;
  text-align: center;
}

.butt-container{
  width: 500px;
  margin: 0px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 500px;
  height: auto;
}

button{
  width: 30%;
  padding: 10px 10px;
  margin: 10px 3px;
  background: #ffc83d;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pic-container{
  width: 500px;
  height: 1000px;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.collection-container{
  width: 500px;
  margin: 0px;
  text-align: left;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.checkbox, label{
  padding: 0px 0px;
  margin: 0px 30px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover{ 
    background: #ffc83daa;
}


.ball-container{
  margin: 30px;
  width: 500px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ball-black-outer{
  background: radial-gradient(farthest-corner at 40px 40px, #6660, #6660);
  width: 220px;
  height: 220px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  animation: bounce 2s ease-in infinite;
}
  
  .ball-white-inner{
    background: radial-gradient(white, #ececec);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    transition: all 1s;
}
    .eight{
      font-size: 70px;
    }
      
.ball-shadow{ 
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: #f1c40f;
  opacity: 0.4;
  animation: scale 2s ease-in infinite;
}
@keyframes bounce{
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale{
  50% {
    transform: scale(0.9);
  }
}